{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <!--TODO Change About Blog-->
          Hello! My name is Success Oguntuyi! I am an inspiring software developer who loves to code. I also love to
          go biking, swimming, and play tennis. Most importantly, one of my favorite things to do is to listen to music.
          A couple of my favorite artists includes <a href="https://open.spotify.com/artist/6eAUAR4N9NOpirukqdIzVI?si=P_bzNEfmQheSIqHWYgTPiw" target="_blank">Madison Ward</a>, <a href="https://open.spotify.com/artist/2h93pZq0e7k5yf4dywlkpM?si=PN9BP6sySOGR9k7Q2a2Bdw" target="_blank">Frank Ocean</a>,
          <a href="https://open.spotify.com/artist/20wkVLutqVOYrc0kxFs7rA?si=qv6xXCreSJeMc1GiGOwjTQ" target="_blank">Daniel Ceaser</a>, <a href="https://open.spotify.com/artist/4fxd5Ee7UefO4CUXgwJ7IP?si=eJjBxy47SpaanNGvGgDbcA" target="_blank">Giveon</a>,
          and <a href="https://open.spotify.com/artist/1URnnhqYAYcrqrcwql10ft?si=XlQzmPbqRDKdiSA6j8QjHQ" target="_blank">21 Savage</a>.
          My favorite song at the moment is <a href="https://open.spotify.com/track/5G2Q4Vx9zwBAdQoEWgM8uX?si=ca6590be70ec4b42" target="_blank">"Mirror" by Madison Ryann Ward</a>. She has such an amazing voice.
        </p>
        <p>
          I create this project alongside Angela Yu, in her course "100 Days of Python". The project mainly uses Flask and SQLAlchemy as its backend
          while using HTML, CSS, and JavaScript for the front end. I've added extra functionality, including a repeat password input, profiles, dashboard, search functionality, and more.
          This project has been great in furthering my knowledge of how the internet works, but most importantly
          how to use databases to interact with the front-end of a website. I've loved every step in this project and I hope you've enjoyed it!
        </p>
        <p>
          Once again, thanks for visiting my website! It really motivates me to continue working on new projects like it.
          I'll let you in on a secret 😉, I'm currently working on an ecommerce website, so watch my GitHub for that!
          I'm also looking for an internship, so if any of you guys have any useful connections, please let a brother know!
          Thank you so much and have a fanstatic day!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
